/* SOME VARIABLES */
:root {
  --main-color: #ff2c1f;
  --main-font: "Poppins", sans-serif;
  --text-color: #020307;
  --bg-color: #fff;
  --btn-hover: #fa1216;
}

/* ============== */
/* QUERIES */
@media (max-width: 68em) {
  .home-text {
    padding: 0 10rem;
  }

  .navbar {
    column-gap: 5rem;
  }
}

@media (max-width: 62em) {
  header {
    padding: 1.8rem 4%;
  }

  section {
    padding: 5rem 4%;
  }

  .home-text {
    padding: 0 4%;
  }

  .home-text h1 {
    font-size: 4rem;
  }

  .copyright {
    padding: 0.4rem;
  }
}

@media (max-width: 48.4em) {
  header {
    padding: 1.4rem 4%;
  }

  #menu-icon {
    display: initial;
    color: var(--bg-color);
  }

  header.shadow #menu-icon {
    color: var(--text-color);
  }

  .navbar {
    position: absolute;
    top: -57rem;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    row-gap: 2rem;
    padding: 1.2rem;
    box-shadow: 0.6rem 0.6rem 0 0.6rem rgb(14 55 54 / 15%);
    transition: 0.2s all linear;
    text-align: center;
  }

  .navbar a {
    width: 100%;
    color: var(--text-color);
  }

  .navbar a:hover {
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
  }

  .navbar a::after {
    display: none;
  }

  .navbar.active {
    top: 100%;
  }

  .btn {
    padding: 0.8rem 1.4rem;
  }

  .movies-container {
    grid-template-columns: repeat(auto-fit, minmax(16rem, auto));
  }
}

@media (max-width: 30em) {
  .newsletter form .email {
    width: auto;
  }

  .footer {
    flex-direction: column;
    align-items: center;
    row-gap: 1.6rem;
  }
}

@media (max-width: 23.13em) {
  header {
    padding: 0.6rem 4%;
  }

  .home-text h1 {
    font-size: 2.6rem;
  }

  .play {
    right: 2rem;
    bottom: 8%;
  }

  .play .bx {
    padding: 0.7rem;
  }

  .movies-container {
    grid-template-columns: repeat(auto-fit, minmax(14rem, auto));
  }

  .box .box-img {
    height: 24rem;
  }
}
