/* SOME VARIABLES */
:root {
  --main-color: #ff2c1f;
  --main-font: "Poppins", sans-serif;
  --text-color: #020307;
  --bg-color: #fff;
  --btn-hover: #fa1216;
}

/* ============ */
/* HEADER */
.logo {
  max-width: 10rem;
}

header .bx {
  font-size: 2.4rem;
}

.navbar {
  display: flex;
  column-gap: 7rem;
}

.navbar li {
  position: relative;
}

.navbar a {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--bg-color);
}

.navbar a::after {
  content: "";
  width: 0%;
  height: 0.2rem;
  background: var(--main-color);
  position: absolute;
  bottom: -0.4rem;
  left: 0;
  transition: 0.4s all linear;
}

.navbar a:hover::after,
.navbar .home-active::after {
  width: 100%;
}

#menu-icon {
  font-size: 2.6rem;
  cursor: pointer;
  z-index: 1000001;
  display: none;
}

/* ============ */
/* HERO */
.container {
  width: 100%;
  min-height: 64rem;
  position: relative;
  display: flex;
  align-items: center;
  /* background: rgba(0, 0, 0, 0.904) !important; */
}

.container img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -12;
}

.swiper-pagination-bullet {
  width: 0.6rem !important;
  height: 0.6rem !important;
  border-radius: 0.2rem !important;
  background: var(--bg-color) !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  width: 1.5rem !important;
  background: var(--main-color) !important;
}

.home-text {
  z-index: 1000;
  padding: 0 15rem;
}

.home-text span {
  font-size: 1.2rem;
  color: var(--bg-color);
  font-weight: 500;
  text-transform: uppercase;
}

.home-text h1 {
  color: var(--bg-color);
  font-size: 6rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.play {
  position: absolute;
  right: 4rem;
  bottom: 10%;
}

.play .bx {
  background: var(--bg-color);
  padding: 1rem;
  font-size: 2.4rem;
  border-radius: 50%;
  border: 4px solid rgb(2, 3, 7, 0.4);
  color: var(--main-color);
}

.play .bx:hover {
  background: var(--main-color);
  color: var(--bg-color);
  transition: 0.2s all linear;
}

/* ============= */
/* MOVIES */
.heading {
  max-width: 96.8rem;
  margin: 0 auto;

  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 1px solid var(--main-color);
}

.movies-container {
  max-width: 96.8rem;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, auto));
  gap: 1rem;
  margin-top: 4rem;
}

.box .box-img {
  width: 100%;
  height: 27rem;
}

.box .box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box .box-img img:hover {
  transform: translateY(-10px);
  transition: 0.2s all linear;
}

.box h3 {
  font-size: 1.6rem;
  font-weight: 500;
}

.box span {
  font-size: 1.2rem;
}

/* ============= */
/* COMING SOON */
.coming-container {
  display: grid;
  gap: 1rem;

  max-width: 96.8rem;
  margin: 0 auto;
  margin-top: 4rem;
}

.coming-container .box-img img:hover {
  transform: translateY(0);
}

.coming-container .box {
  width: 10rem;
}

/* ============== */
/* NEWSLETTER */
.newsletter {
  max-width: 96.8rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2rem;
}

.newsletter h2 {
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.newsletter form {
  background: var(--bg-color);
  padding: 0.8rem;
  border-radius: 0.5rem;

  display: flex;
  align-items: center;
}

.newsletter form input {
  border: none;
  outline: none;
}

.newsletter form .email {
  width: 28rem;
}

.newsletter form input::placeholder {
  color: var(--text-color);
  font-size: 1.2rem;
  font-weight: 400;
}

.newsletter .btn {
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}

/* ============== */
/* FOOTER */
.footer {
  max-width: 96.8rem;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
}

.social {
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
}

.social .bx {
  background: var(--bg-color);
  padding: 0.4rem;
  font-size: 2.4rem;
  border-radius: 50%;
  border: 4px solid rgb(2, 3, 7, 0.4);
  color: var(--main-color);
}

.social .bx:hover {
  background: var(--main-color);
  color: var(--bg-color);
  transition: 0.2s all linear;
}

/* ============ */
/* COPYRIGHT */
.copyright {
  padding: 0.8rem;
  text-align: center;
  color: var(--bg-color);
}
